<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show Member</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<h1>Show Member</h1>
		<div th:object="${member}">
			<div>
				<label>ID</label>
				<p th:text="*{id}"></p>
			</div>
			<div>
				<label>名前</label>
				<p th:text="*{name}"></p>
			</div>
			<div>
				<label>年齢</label>
				<p th:text="*{age}"></p>
			</div>
		</div>
		<div>
			<a class="btn btn-default" th:href="@{/member/{id}/edit(id=*{id})}">編集</a>
		</div>
		<div class="pull-right">
			<a class="btn btn-link" href="/member">一覧画面へ</a>
		</div>
	</div>
</body>
</html>